{% extends 'base.html' %}

{% block content %}
<div style="padding-top:250px" >
<center>
  <h2>Sign up for a account</h2>
  <p class="lead">Select below the type of account you want to create</p>
<a style = "background : blue; padding: 10px 20px; text-decoration : none; color:white; border-radius: 10px" href={% url 'patient_signup' %}>I'm a Patient</a>
<a style = "background : blue; padding: 10px 20px; text-decoration : none; color:white; border-radius: 10px" href={% url 'doctor_signup' %}>I'm a Doctor</a>

</center>
</div>
{% endblock %}

