<!doctype html>
<html>


<!--
    "vitals_list" for list of vitals of Patients
        Available datas:
            item.date
            item.blood_pressure  
            item.sugar_level 
            item.temperature 
            item.weight 

    "report_list" for list of reports of Patient
        Available datas:
            item.url

    {% url 'review_create' id %} to redirect to form to add reviews
-->







<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DashBoard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/patient_dash.css'%}">
    <script src="https://kit.fontawesome.com/ac298c0bbf.js" crossorigin="anonymous"></script>

</head>

<body>

  
  <nav class="nav">
    <div class="BRAND">
        E-Health Manager
    </div>
    <div class="image">
        <img src="{%static 'img/harke.svg' %}">
        <p class="name"> Dr. {{user.username}} </p>
        <p class="desc"> Age: 68, S: M </p>
    </div>

    <div class="nav-elements">
        <center>
            <ul class="nav-links">
                <li> <a href="/">HOME</a>
                    <li> <a href=" ">Your Patients</a>
                        <li> <a href="#appointment">Your todays appointment</a>

                            <li> <a href="/">Log Out</a>
            </ul>
        </center>
    </div>
</nav>


  <div class="header">
    <div class="sub_nav">


        <div class="hamburger">

            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>
        <div class="search">
            <input type="text" name="search_for_doctors" id="search" placeholder="Search for doctors">
            <i class="fa-solid fa-magnifying-glass" style="color: white; font-size :14px;"></i>
        </div>

        <div class="icons">

            <i class="fa fa-envelope-open"></i>
            <i class="fa fa-bell"></i>
            <i class="fa fa-cog"></i>

        </div>


    </div>

</div>

  <div class="fourth_section">
        <div class="fourth_row">

            <div class="col col-1">
                <br>
                <center>
                    <h2> Patients datas </h2>
                </center>
                <br>
                <div class="table">
                    <table class="ds-table">
                        <thead>
                            <tr>
                                <th>Date.</th>
                                <th class="vanish">Blood Pressure</th>
                                <th class="vanish vanish_1 ">Sugar Level</th>
                                <th class="vanish vanish_1 ">Temperature</th>
                                <th class="vanish vanish_1 ">Weight</th>

                            </tr>
                        </thead>

                        <tbody>
                        {% for item in vitals_list%}
                                <tr>
                        
                                <td>{{item.date}}</td>
                                <td class="vanish">{{item.blood_pressure}}  mm/dL</td>
                                <td class="vanish vanish_1 ">{{item.sugar_level}} mg/dL</td>
                                <td class="vanish vanish_1 ">{{item.temperature}} C</td>
                                <td class="vanish vanish_1 ">{{item.weight}} Kg</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>

            </div>
        </div>

    </div>

    <div class = "reports">
        <div class="reports_row">
            <div class="col col-1">
                <center>
                    <h2> Patients latest reports </h2>
                </center>
                {%for item in report_list%}
<img src = {{item.url}} width = "150px" Height = "150px">

                {%endfor%}
    </div>

    <br>
    <br>
<center>
    <a href={% url 'review_create' id %} class="btn btn-primary" style = "background : #0000ff; padding: 10px 20px; text-decoration : none; color:white; border-radius: 10px">Give review</a>
</center>
<br>
<br>

    
    <br>
    <footer>
        <center>
            <p>&copy; Swastha Sathi. All rights reserved. Designed By Code digger. </p>
        </center>
    </footer>


<!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]
-->
    
    <script src="{% static 'js/dashboard.js' %}" async defer></script>
    <script>

        const h = document.querySelector(".hamburger");
const n = document.querySelector(".nav");

h.addEventListener("click", () => {
    n.classList.toggle("open");
})


    </script>
</body>

</html>